.input-container{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.input-form{
    padding: 5px;
    border: 0.5px solid;
    border-radius: 5px;
}

.select-form{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 10px;
}

.group-container{
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size:larger;
    padding: 5px;
}

.label-form{
    font-weight:500;
    margin-bottom: 5px;
    text-align: center;
}