.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-title{
    font-size: 45px;
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 40px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-bottom: 4px solid rgb(140, 140, 212)
}

.icon-go-back:hover{
    cursor: pointer
}

.render-field{
    display:'flex'; 
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button-submit-form{
    flex-grow: 1;
}

.form-buttons{
    display: flex;
    column-gap: 10px;
    width: 100%;
    margin: 10px 0px;
}
