.form-item{
    padding: 15px;
    margin: 10px;
    background-color: blanchedalmond;
    border-radius: 5px;
    border: 0.5px groove rgb(223, 188, 188);
}

.form-item:hover{
    background-color: antiquewhite;
    cursor: pointer
}