.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 40px ;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-bottom: 4px solid rgb(140, 140, 212)
}

.title-header{
    font-weight: 500;
    font-size: 45px;
    padding-bottom: 10px;
}

.subtitle-header{
    font-weight: 500;
}